
header {
    color:#d4edf1;
    background-color: rgb(12, 87, 105);
    min-height: 100px;
}

nav li {
    font-size:30px;
      display: inline-block;
}
.rusTransl {
   
    color: rgb(12, 87, 105);
}



ul {
   margin:auto;
    list-style-type: none;
   
}
li {
    margin: 30px;
    font-size:20px
}
.generation {
    color: rgb(12, 87, 105);
    float:left ;
    padding: 20pt;
   }
.quoteDiv{
    color: rgb(12, 87, 105);
    float:left ;
    padding: 20pt;
  }

* {
    margin: 0;
    padding: 0;
}
.wrapper {
display: flex;
flex-direction: column;
min-height: 100%;
}

html, body {
height: 100%;
overflow-x: hidden;
}


footer {
    flex: 0 0 auto;
    color:#afe7f1;
    background-color: rgb(12, 87, 105);
   height: 30pt;
   
}
.text {
    font-size:20px;
 }


.quote {
   min-height: 5rem;
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin: auto;
}

.content {
    flex: 1 0 auto;
    background-color: rgb(216, 234, 238);
    min-height: 100%;
}

A {
   color:white; 
}


.butt {
        text-decoration:none; text-align:center; 
 padding:11px 40px; 
 border:solid 1px #011721; 
 -webkit-border-radius:10px;
 -moz-border-radius:10px; 
 border-radius: 10px; 
 font:40px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#bfe5f2; 
 background-image: -moz-linear-gradient(top, #bfe5f2 0%, #1f6880 100%); 
 background-image: -webkit-linear-gradient(top, #bfe5f2 0%, #1f6880 100%); 
 background-image: -o-linear-gradient(top, #bfe5f2 0%, #1f6880 100%); 
 background-image: -ms-linear-gradient(top, #bfe5f2 0% ,#1f6880 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6880', endColorstr='#1f6880',GradientType=0 ); 
 background-image: linear-gradient(top, #bfe5f2 0% ,#1f6880 100%);   
  
  
   -webkit-transition: height 0s linear;
 -moz-transition:  height 0s linear;
 -o-transition:  height 0s linear;
 transition:  height 0s linear;}.button:hover{
 padding:11px 40px; 
 border:solid 1px #011721; 
 -webkit-border-radius:10px;
 -moz-border-radius:10px; 
 border-radius: 10px; 
 font:40px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#1f6880; 
 background-image: -moz-linear-gradient(top, #1f6880 0%, #bfe5f2 100%); 
 background-image: -webkit-linear-gradient(top, #1f6880 0%, #bfe5f2 100%); 
 background-image: -o-linear-gradient(top, #1f6880 0%, #bfe5f2 100%); 
 background-image: -ms-linear-gradient(top, #1f6880 0% ,#bfe5f2 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe5f2', endColorstr='#bfe5f2',GradientType=0 ); 
 background-image: linear-gradient(top, #1f6880 0% ,#bfe5f2 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }
 .button:active{
 padding:11px 40px; 
 border:solid 1px #011721; 
 -webkit-border-radius:10px;
 -moz-border-radius:10px; 
 border-radius: 10px; 
 font:40px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#1f6880; 
 background-image: -moz-linear-gradient(top, #1f6880 0%, #bfe5f2 100%); 
 background-image: -webkit-linear-gradient(top, #1f6880 0%, #bfe5f2 100%); 
 background-image: -o-linear-gradient(top, #1f6880 0%, #bfe5f2 100%); 
 background-image: -ms-linear-gradient(top, #1f6880 0% ,#bfe5f2 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe5f2', endColorstr='#bfe5f2',GradientType=0 ); 
 background-image: linear-gradient(top, #1f6880 0% ,#bfe5f2 100%);   
  
 }
   
       

.butt2{
    text-decoration:none; text-align:center; 
        padding:11px 40px; 
        border:solid 1px #011721; 
        -webkit-border-radius:10px;
        -moz-border-radius:10px; 
        border-radius: 10px; 
        font:20px Arial, Helvetica, sans-serif; 
        font-weight:bold; 
        color:#E5FFFF; 
        background-color:#bfe5f2; 
        background-image: -moz-linear-gradient(top, #bfe5f2 0%, #1f6880 100%); 
        background-image: -webkit-linear-gradient(top, #bfe5f2 0%, #1f6880 100%); 
        background-image: -o-linear-gradient(top, #bfe5f2 0%, #1f6880 100%); 
        background-image: -ms-linear-gradient(top, #bfe5f2 0% ,#1f6880 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6880', endColorstr='#1f6880',GradientType=0 ); 
        background-image: linear-gradient(top, #bfe5f2 0% ,#1f6880 100%);   
         
         
          -webkit-transition: height 0s linear;
        -moz-transition:  height 0s linear;
        -o-transition:  height 0s linear;
        transition:  height 0s linear;}.button:hover{
        padding:11px 40px; 
        border:solid 1px #011721; 
        -webkit-border-radius:10px;
        -moz-border-radius:10px; 
        border-radius: 10px; 
        font:20px Arial, Helvetica, sans-serif; 
        font-weight:bold; 
        color:#E5FFFF; 
        background-color:#1f6880; 
        background-image: -moz-linear-gradient(top, #1f6880 0%, #bfe5f2 100%); 
        background-image: -webkit-linear-gradient(top, #1f6880 0%, #bfe5f2 100%); 
        background-image: -o-linear-gradient(top, #1f6880 0%, #bfe5f2 100%); 
        background-image: -ms-linear-gradient(top, #1f6880 0% ,#bfe5f2 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe5f2', endColorstr='#bfe5f2',GradientType=0 ); 
        background-image: linear-gradient(top, #1f6880 0% ,#bfe5f2 100%);   
        -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
        -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
        box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
         
        }.button:active{
        padding:11px 40px; 
        border:solid 1px #011721; 
        -webkit-border-radius:10px;
        -moz-border-radius:10px; 
        border-radius: 10px; 
        font:20px Arial, Helvetica, sans-serif; 
        font-weight:bold; 
        color:#E5FFFF; 
        background-color:#1f6880; 
        background-image: -moz-linear-gradient(top, #1f6880 0%, #bfe5f2 100%); 
        background-image: -webkit-linear-gradient(top, #1f6880 0%, #bfe5f2 100%); 
        background-image: -o-linear-gradient(top, #1f6880 0%, #bfe5f2 100%); 
        background-image: -ms-linear-gradient(top, #1f6880 0% ,#bfe5f2 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe5f2', endColorstr='#bfe5f2',GradientType=0 ); 
        background-image: linear-gradient(top, #1f6880 0% ,#bfe5f2 100%);   
         
         
        }

        @media (max-width: 767px) {
            .butt {
                font: 20px;
                padding:5px 20px; 
            }
            .butt2 {
                font: 10px;
                padding:5px 20px; 
            }
          }


          .select-hidden {
            display: none;
            visibility: hidden;
            padding-right: 10px;
          }
          .select {
            cursor: pointer;
            display: inline-block;
            position: relative;
            font-size: 16px;
            /* color: $select-color;
            width: $select-width;
            height: $select-height; */
          }
          .select-styled {
            position: absolute; 
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            /* background-color: $select-background; */
            padding: 8px 15px;
            /* @include transition(all 0.2s ease-in);
            &:after {
              content:"";
              width: 0;
              height: 0;
              border: 7px solid transparent;
              border-color: $select-color transparent transparent transparent;
              position: absolute;
              top: 16px;
              right: 10px; */
            }
            /* &:hover {
              background-color: darken($select-background, 2);
            }
            &:active, &.active {
              background-color: darken($select-background, 5);
              &:after {
                top: 9px;
                border-color: transparent transparent $select-color transparent;
              } 
            }*/
          
            .select-options {
                display: none; 
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;
                z-index: 999;
                margin: 0;
                padding: 0;
                list-style: none;
                /* background-color: darken($select-background, 5);
                 li { 
                  margin: 0;
                  padding: 12px 0;
                  text-indent: 15px;
                   border-top: 1px solid darken($select-background, 10); 
                  @include transition(all 0.15s ease-in);
                   &:hover {
                    color: $select-background;
                    background: $select-color;
                  }
                  &[rel="hide"] {
                    display: none;
                  } 
                } */
              }
       